<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookTalks Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/kgs7msc.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!------------ HEADER -------------->
    <!-- <div class="banner">
        <div class="container">
        </div>
    </div> -->

    <!------------ NAVAR -------------->
    <nav class="navbar navbar-expand-lg pl-5 pr-5">
        <a class="navbar-brand" href="./results.html">
            <img class="logo" src="./images/logo.png" alt="BookTakls" height="50`">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./results.html">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./chat.html">CHAT</a>
                </li>
                <!-- <li class="nav-item">
                        <a class="nav-link" href="./login.html">LOGIN/REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./profile.html">PROFILE</a>
                    </li> -->
            </ul>

            <form action="/results" method="GET" class="form-inline my-2 my-lg-0">
                <input id="searchInput" name="search" class="form-control mr-sm-2" type="search" placeholder="Search"
                    aria-label="Search">
                <button id="submit" type="submit" class="btn my-2 my-sm-0">
                    <img class="logo border-0" src="./images/search.png" alt="Seach" height="20px">
                </button>
            </form>
        </div>
    </nav>