/* #featured-books {
    margin-top: 30px
} */

/* .results {
    margin-top: 30px;
} */

/* #book-results {
    margin-top: 10px;
} */

.logo {
    margin: 10px;
}

h1 {
    margin: 35px 0 35px 0;
    text-align: center;
}

hr {
    border-width: 4px;
    border-color: rgb(231, 231, 231);
}


/* ====== Widget ====== */

/* #goodreads-widget {
    font-family: georgia, serif;
}

#goodreads-widget h1 {
    font-weight: normal;
    font-size: 16px;
    border-bottom: 1px solid #BBB596;
    margin-bottom: 0;
}

#goodreads-widget a {
    text-decoration: none;
    color: #000;
}

iframe {
    background-color: #ffffff;
}

#goodreads-widget a:hover {
    text-decoration: underline;
}

#goodreads-widget a:active {
    color: #000;
}

#gr_footer {
    width: 100%;
    border-top: 1px solid #BBB596;
    text-align: right;
}

#goodreads-widget .gr_branding {
    color: #382110;
    font-size: 11px;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} */