body {
    background: #ffdb58;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    margin: 10px;
}

.navbar {
    height: 80px;
}

.chat {
    width: 80%;
    margin: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

#history {
    background: #fff;
    border: 2px solid #27aae1;
    border-radius: 6px;
    height: 400px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#msg_text {
    background: #fff;
    border: 2px solid #27aae1;
    border-radius: 4px;
    height: 34px;
    margin: auto;
}

#btn {
    /* background: #27aae1;
    height: 30px;
    width: 80px;
    border: #27aae1;
    border-width: 2px;
    margin-left: 10px;
    border-radius: 15px;
    color: #fff; */
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background: #27aae1;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 30px;
    color: #fff;
    cursor: pointer;
}

#btn:hover,
#btn:active {
    background: #7acff3;
}

/* form input [type='text'] {
    border: 2px solid #27aae1;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
}

form input [type='submit'] {
    background: #27aae1;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 5px;
    width: 19%;
} */