<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookTalks</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style-login.css">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <div class="formContainer text-center">
                    <form id="signin" name="signin" method="post" action="signin">
                        <div class="form-group">
                            <input class="text form-control" name="email" type="text" placeholder="email" />
                        </div>
                        <div class="form-group">
                            <input name="password" class="form-control" type="password" placeholder="password" />
                        </div>
                        <div class="submit">
                            <input class="btn btn-primary" type="submit" value="Sign In" />
                        </div>
                    </form>
                    <br>
                    <div>
                        <p class="message" id="toggle-register">Not Registered Yet? <a href="/signup">Register</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>